	<div id="alert" class="alert alert-block alert-success fade in" style="margin-bottom:0px; text-align:center">
	  <button type="button" class="close" data-dismiss="alert">×</button>
	  <h4 class="alert-heading"><i class="icon-ok"></i> <%= flash[:notice] %></h4>
	</div>
