<!-- Right panel with cover effect-->
<div class="panel panel-left panel-reveal">
  <div class="content-block">
    <ul>
	    <li>
		    <a href="/contacts/vendors" class="close-panel item-link">
			    <i class="i-flag i-flag-sale"></i> My vendors
		    </a>
	    </li>
	    <li>
		    <a href="/contacts/landlords" class="close-panel item-link">
			    <i class="i-flag i-flag-rent"></i> My landlords
		    </a>
	    </li>
	    <li>
		    <a href="/contacts" class="close-panel item-link">
			    <i class="i-address-book"></i> My contacts
		    </a>
	    </li>
	    <li>
		    <a href="/contacts/new" class="close-panel item-link">
			    <i class="i-plus"></i> Add Contact
		    </a>
	    </li>
	    <li>
		    <a href="" class="close-panel item-link">
			    <i class="i-home"></i> My listings
		    </a>
	    </li>
	    <li>
		    <a href="" class="close-panel item-link">
			    <i class="i-sun"></i> My day
		    </a>
	    </li>
    </ul>
  </div>
</div>