<a href="/pages/contacts" data-role="button" data-icon="star" data-theme="b">10 latest contacts</a>
<a href="/pages/listings" data-role="button" data-icon="home" data-theme="e">10 latest listings</a>
<a href="#" data-role="button" data-icon="star" data-theme="b">Upcoming Inspections</a>
<a href="#" data-role="button" data-icon="home" data-theme="e">Most viewed listings</a>