<%= form_tag("/users/sign_in") do %>
<div data-role="fieldcontain">
    <fieldset data-role="controlgroup">
        <label for="textinput1">
            iDashboard login
        </label>
        <input id="textinput1" placeholder="" value="" type="text" name="login" />
    </fieldset>
</div>
<div data-role="fieldcontain">
    <fieldset data-role="controlgroup">
        <label for="textinput2">
            iDashboard password
        </label>
        <input id="textinput2" placeholder="" value="" type="password" name="password" />
    </fieldset>
</div>
<div data-role="fieldcontain">
    <fieldset data-role="controlgroup" data-type="vertical">
        <legend>
        </legend>
        <input name="remember" id="checkbox1" type="checkbox" />
        <label for="checkbox1">
            Remember me
        </label>
    </fieldset>
</div>
<input type="submit" data-transition="fade" data-theme="b" data-icon="check" data-iconpos="right" value="Connect"/>

<% end %>