<div class="homepage">
    <div class="homepage-btn">
      <a href="/contacts/vendors">
        <div class="inner">
          <div class="wrap">
            <i class="icon-user"></i>
            <p>My Vendors</p>
          </div>
        </div>
      </a>
    </div><!-- homepage btn -->
    <div class="homepage-btn">
      <a href="/contacts/landlords">
        <div class="inner">
          <div class="wrap">
            <i class="icon-home"></i>
            <p>My Landlords</p>
          </div>
        </div>
      </a>
    </div><!-- homepage btn -->
    <div class="homepage-btn">
      <a href="#">
        <div class="inner">
          <div class="wrap">
            <i class="icon-group"></i>
            <p>My Contacts</p>
          </div>
        </div>
      </a>
    </div><!-- homepage btn -->
    <div class="homepage-btn">
      <a href="/contacts/new">
        <div class="inner">
          <div class="wrap">
            <i class="icon-plus"></i>
            <p>Add Contact</p>
          </div>
        </div>
      </a>
    </div><!-- homepage btn -->
  </div><!-- homepage-->