<%= render partial: "shared/flash_messages"%>
  <div class="homepage">
    <div class="homepage-btn">
      <a href="/contacts/vendors">
        <div class="inner">
          <div class="wrap">
            <i class="icon-user"></i>
            <p>My Vendors</p>
          </div>
        </div>
      </a>
    </div><!-- homepage btn -->
    <div class="homepage-btn">
      <a href="/contacts/landlords">
        <div class="inner">
          <div class="wrap">
            <i class="icon-home"></i>
            <p>My Landlords</p>
          </div>
        </div>
      </a>
    </div><!-- homepage btn -->
    <div class="homepage-btn">
      <a href="#">
        <div class="inner">
          <div class="wrap">
            <i class="icon-group"></i>
            <p>My Contacts</p>
          </div>
        </div>
      </a>
    </div><!-- homepage btn -->
    <div class="homepage-btn">
      <a href="/contacts/new">
        <div class="inner">
          <div class="wrap">
            <i class="icon-plus"></i>
            <p>Add Contact</p>
          </div>
        </div>
      </a>
    </div><!-- homepage btn -->
  </div><!-- homepage-->
	
	
	<style>
	.alert-success {
	  color: #ffffff !important;
	  background-color: rgba(0,0,0,0.65);
	  border-color: transparent;
	  border-radius: 20px;
	  padding: 40px 14px;
	  text-shadow: none;
	  position: absolute;
	  left: 60px;
	  z-index: 99;
	  top: 50%;
	  right: 60px;
	  margin-top: -51px;
		-webkit-transition:all 0.24s ease-in-out;
	}

	.alert-success h4 {
	  color: #ffffff;
	}

	.alert .close {
	  right:0px;
	  position: relative;
	  top: -31px;
	  color: #ffffff;
	  opacity: 0.25 !important;
	  text-shadow: none;
	}
	</style>