  
  <div class="notpremium">
    <h1>Premium<br>account required</h1>
    <h2>Hi, this feature is for iDashboard premium accounts.
Please contact iProperty for further informations.</h2>
    <a href="tel:0393285455"><i class="icon-phone"></i> Call iProperty</a>
  </div><!-- notpremium-->
  
