<ul class="navBar">
  <a href="/contacts/vendors" onclick="load_page_ajax('/contacts/vendors');">
    <li class="<%= @page_name == 'Vendors' ? 'active' : '' %>">
      <div class="inner">
        <i class="icon-user"></i>
        <p>Vendors</p>
      </div>
    </li>
  </a>
  <a href="/contacts/landlords" onclick="load_page_ajax('/contacts/landlords');">
    <li class="<%= @page_name == 'Landlords' ? 'active' : '' %>">
      <div class="inner">
        <i class="icon-home"></i>
        <p>Landlords</p>
      </div>
    </li>
  </a>
  <a href="/contacts">
    <li>
      <div class="inner">
        <i class="icon-group"></i>
        <p>Contacts</p>
      </div>
    </li>
  </a>
  <a href="/contacts/new">
    <li>
      <div class="inner">
        <i class="icon-plus"></i>
        <p>Add</p>
      </div>
    </li>
  </a>
</ul>

<script type="text/javascript">

	function load_page_ajax(load_url){	
		jQuery.ajax({
			url: load_url,
			type: "POST" 
		}).done( function(result){ alert('loading finished');  jQuery('#main_content').html(result); });
	}
	
</script>