<div data-role="navbar" data-iconpos="left">
        <ul>
            <li>
                <a href="/contacts" data-theme="b" data-icon="home" class="ui-btn-active">
                    Contacts
                </a>
            </li>
            <li>
                <a href="/contacts/new" data-theme="" data-icon="plus">
                    New contact
                </a>
            </li>
        </ul>
</div>