    <div data-role="fieldcontain">
        <fieldset data-role="controlgroup">
            <label for="textinput10">
            </label>
            <input id="textinput10" name="requirement[name]" placeholder="Requirement name" value="" type="text" />
        </fieldset>
    </div>
    <div data-role="fieldcontain">
        <label for="selectmenu2">
        </label>
        <select name="requirement[requirement_category]" id="selectmenu2" data-theme="a">
            <option value="residential_sale">
                Residential Sale
            </option>
            <option value="residential_lease">
                Residential Rent
            </option>
        </select>
    </div>
    <div data-role="fieldcontain">
        <label for="selectmenu3">
            Price
        </label>
        <select name="requirement_price" id="selectmenu3" data-theme="e">
            <option value="200000_400000">
                200k - 400k
            </option>
            <option value="400000_600000">
                400k - 600k
            </option>
            <option value="600000_800000">
                600K - 800k
            </option>
        </select>
    </div>
    <div data-role="fieldcontain">
        <label for="selectmenu4">
            Bedrooms
        </label>
        <select name="requirement[min_bedrooms]" id="selectmenu4" data-theme="b">
            <option value="1">
                1+
            </option>
            <option value="2">
                2+
            </option>
            <option value="3">
                3+
            </option>
            <option value="4">
                4+
            </option>
            <option value="5">
                5+
            </option>
        </select>
    </div>

    <div data-role="fieldcontain">
        <label for="bathrooms">
            Bathrooms
        </label>
        <select name="requirement[min_bathrooms]" id="bathrooms" data-theme="b">
            <option value="1">
                1+
            </option>
            <option value="2">
                2+
            </option>
            <option value="3">
                3+
            </option>
            <option value="4">
                4+
            </option>
            <option value="5">
                5+
            </option>
        </select>
    </div>

    <div data-role="fieldcontain">
        <label for="car_parks">
            Car parks
        </label>
        <select name="requirement[min_car_parks]" id="car_parks" data-theme="b">
            <option value="1">
                1+
            </option>
            <option value="2">
                2+
            </option>
            <option value="3">
                3+
            </option>
            <option value="4">
                4+
            </option>
            <option value="5">
                5+
            </option>
        </select>
    </div>