<div class="pageTitle">
  <h1><i class="icon-chevron-left back-button" onclick="window.history.back();"></i> Add a note to <%= @contact.name %> </h1>
</div> 
<div class="whiteBg"></div>
<div class="addNew">
    <%= form_tag(add_note_contact_path(id: @contact.id), method: "POST", id: "add_note_form" ) do %>
      <div class="input-custom">
        <span class="icon-pencil"></span>
        <textarea rows="12" placeholder="Write your note here" name="note"></textarea>
      </div>
     <button type="submit" style="position:fixed;bottom:0;left:0" class="btnCustom" form="add_note_form">Save Note <i class="icon-double-angle-right"></i></button>
	<% end %>
</div><!-- addNew-->
