  <div class="view navbar-fixed">
    <div class="page">
      <div class="navbar">
        <div class="navbar-inner">
          <div class="center">Add a note</div>
          <div class="right"><a href="#" class="link close-popup">Done</a></div>
        </div>
      </div>
      <div class="page-content">
          <div class="content-block">
            <%= form_tag(add_note_contact_path(id: @contact.id), class: "store-data list-block" , id: "adding_note" , method: "POST"  ) do %>
              <ul class="note">
                <li class="align-top">
                  <div class="item-content">
                    <div class="item-inner">

                      <div class="item-input">
                        <textarea name="note" placeholder="Tap here to type"></textarea>
                      </div>
                    </div>
                  </div>
                </li>                
              </ul>
          	<% end %>
          </div>
        </div>
      </div>
    </div>
