<div class="whiteBg"></div>
<%= form_tag(search_contacts_path, remote: false, class: "search-contacts clearfix", id: "search_form") do |f| %>
  <div class="input-custom">
    <div class="inner">
	  <%= text_field_tag :search, nil, placeholder: "Search for contacts" %>
    </div>
    <span class="icon-search"></span>
  </div>
  <button type="submit" class="btnCustom" form="search_form"> GO <i class="icon-double-angle-right"></i></button>
<% end %>

<% if @contacts.blank? %>
	<p class="search-text">
  	Search for your contacts<br>by typing on the search box above
	</p>
<% else %>
  <div class="rowo large">
	 <ul class="wrap clearfix">
		<%= render partial: 'contact', collection: @contacts %>	
	</ul>
  </div>
<% end %>

<%= render partial: "nav_bar" %>
