<%= render 'form' %>
<!--div data-role="fieldcontain">
	<%= select(:contact, "contact_attribute_ids", contact_categories, :html => {:name => "contact[contact_attribute_ids][]"})%>
                    <fieldset data-role="controlgroup" data-mini="true">
                        <label for="textinput6">
                            First name
                        </label>
                        <input id="textinput6" name="contact[first_name]" placeholder="" value="" type="text" />
                    </fieldset>
                </div>
                <div data-role="fieldcontain">
                    <fieldset data-role="controlgroup">
                        <label for="textinput7">
                            Last name
                        </label>
                        <input id="textinput7" placeholder="" value="" name="contact[last_name]" type="text" />
                    </fieldset>
                </div>
                <div data-role="fieldcontain">
                    <fieldset data-role="controlgroup">
                        <label for="textinput8">
                        </label>
                        <input id="textinput8" placeholder="Phone number" name="contact[phone_numbers_attributes][number]" value="" type="tel" />
                    </fieldset>
                </div>
                <div data-role="fieldcontain">
                    <label for="selectmenu1">
                        Phone type
                    </label>
                    <select id="selectmenu1" name="contact[phone_numbers_attributes][name]" data-theme="e" data-mini="false">
                        <option value="mobile">
                            mobile
                        </option>
                        <option value="home">
                            home phone
                        </option>
                        <option value="work">
                            Work phone
                        </option>
                    </select>
                </div>
                <div data-role="fieldcontain">
                    <fieldset data-role="controlgroup">
                        <label for="textinput9">
                            Email
                        </label>
                        <input id="textinput9" placeholder="" value="" name="contact[email]" type="email" />
                    </fieldset>
                </div>
                <div data-role="collapsible">
                    <h3>Requirements</h3>
                      <%= render partial: 'requirement_form' %>
                    </div>
                <input type="submit" value="Create" data-theme="b" />
            </div>
        </div-->



