/* Global Theme Colors - try to insert colors and functions on a separate js or footer.php files calling the javascript
*****************************************************/
@color10: #007aff; /* Heading and buttons */
@color20: #000000; /* Secondary headings */
@color30: #8e8e93; /* Main text color */
@color40: #c8c7cc; /* Borders and chevrons */
@pageColor10: #FFFFFF;  /* Primary page color */
@pageColor20: #efeff4;  /* Secondary page color */



/* Global Less Functions 
*****************************************************/
.cover {
  background-size:          cover;
  -webkit-background-size:  cover;
  -moz-background-size:     cover;
  -o-background-size:       cover;
  -ms-background-size:      cover;
}

.display {
	display: 		inline-block;
	float: 			left;
	width: 			100%;
}

.border-box {
	box-sizing:					border-box;
	-webkit-box-sizing:	border-box;
	-moz-box-sizing:		border-box;
	-ms-box-sizing:			border-box;
	-o-box-sizing:			border-box;
}

.gradient (@rgba:rgba(0,0,0,0.35)) {
  background-image: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, @rgba 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,@rgba));
  background-image: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,@rgba 100%);
  background-image: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,@rgba 100%);
  background-image: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,@rgba 100%);
  background-image: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,@rgba 100%);
}

.box-shadow (@x: 0; @y: 0; @blur: 10px; @color: rgba(0,0,0,0.75)) {
  box-shadow:         @arguments;
  -moz-box-shadow:    @arguments;
  -webkit-box-shadow: @arguments;
  -o-box-shadow:      @arguments;
  -ms-box-shadow:     @arguments;
}

.box-shadow-inset (@x: 0; @y: 0; @blur: 10px; @color: rgba(0,0,0,0.75)) {
  box-shadow:        inset @arguments;
  -moz-box-shadow:   inset @arguments;
  -webkit-box-shadow:inset @arguments;
  -o-box-shadow:     inset @arguments;
  -ms-box-shadow:    inset @arguments;
}

.border-radius(@radius: 2px) {
  border-radius:          @radius;
  -webkit-border-radius:  @radius;
  -moz-border-radius:     @radius;
  -o-border-radius:       @radius;
  -ms-border-radius:      @radius;
}

.transition (@time:0.3s) {
  transition:           all @time ease-in-out;
  -webkit-transition:   all @time ease-in-out;
  -moz-transition:      all @time ease-in-out;
  -o-transition:        all @time ease-in-out;
  -ms-transition:       all @time ease-in-out; 
}



/* Start Styles
*****************************************************/
body {
	-webkit-font-smoothing: 	antialiased;
	font-weight: 							200;
}


/* Navbar
*****************************************************/
.navbar {
	background-color: 	@color10;
	border-bottom: 			none;
	color: 							#FFFFFF;
	i, a.link {
		color: 						#FFFFFF;
	}
	.center {
		font-weight: 	normal;
	}/* center */
}/* navbar */


/* Search Bar
*****************************************************/
.searchbar {
	background-color: 	@color10;
	border-bottom: 			none;
	
	.searchbar-cancel {
		.border-radius(0);
		border: 	none;
		background: 	transparent;
		padding: 	0;
 		color: 		#FFFFFF;
	}
}


/* Modal
*****************************************************/
.modal-button {
	font-weight: 	500;
}



/* Panel Right
*****************************************************/
.panel {
	.content-block {
		margin-top: 	30px;
		padding: 			0 30px;
	}
	ul {
		.display;
		margin: 					0;
		padding: 					0;
		list-style-type: 	none;
		li {
			.display;
			margin-bottom: 	30px;
			a {
				.display;
				.transition(0.3s);
				color: 				#FFFFFF;
				font-size: 		18px;
				line-height: 	1;
				i {
					.transition(0.2s);
					.border-radius(300px);
					font-size: 	26px;
					color: 	#FFFFFF;
					border: 		1px solid #FFFFFF;
					padding: 		12px;
					margin-right: 10px;
					position: 		relative;
					vertical-align: 	-15%;
				}
				.i-flag {
					&:after {
						position: 	absolute;
						left: 	18px;
						top: 		15px;
						font-size: 8px;
						line-height: 	1;
					}
				}
				.i-flag-sale {
					&:after {
						content: "sale";
					}
				}
				.i-flag-rent {
					&:after {
						content: "rent";
					}
				}
				&:active {
					.transition(0s);
					color: 	@color10;
					i {
						.transition(0s);
						color: 	@color10;
						border: 	1px solid @color10;
					}
				}
			}/* a */
		}/* li */
	}/* ul */
}/* panel right */


/* Homepage
*****************************************************/
.page-homepage {
	ul {
		.display;
		height: 						100%;
		list-style-type: 		none;
		margin: 						0;
		padding: 						0;
		li {
			.display;
			.border-box;
			overflow: 				hidden;
			background-color: @pageColor10;
			width: 						50%;
			height: 					33.33%;
			border-bottom: 		1px solid @color40;
			a {
				.transition(0.3s);
				.display;
				position: 			relative;
				height: 				100%;
			}
			&:nth-child(odd) {
				border-right: 	1px solid @color40;
			}
			p {
				.display;
				position: 		absolute;
				left: 				0;
				right: 				0;
				top: 					50%;
				margin: 			0;
				margin-top: 	-44px;
				text-align: 	center;
				font-weight: 	normal;
				i {
					color: 					@color10;
					font-size: 			40px;
					margin-bottom: 	20px;
					position: 			relative;
				}
				.i-flag {
					&:after {
						position: 	absolute;
						left: 	9px;
						top: 		8px;
						font-size: 12px;
						line-height: 	1;
					}
				}
				.i-flag-sale {
					&:after {
						content: "sale";
					}
				}
				.i-flag-rent {
					&:after {
						content: "rent";
					}
				}
			}
			&:active {
				a {
					.transition(0s);
					background-color: 	@pageColor20;
				}
			}
		}/* li */
	}/* ul */
}/* page homepage */



/* Contacts Content
*****************************************************/
.contacts-content {
	.contacts-block {
		.list-group-title {
			line-height: 			30px;
			height: 					30px;
			background-color: @pageColor20;
			text-transform: 	uppercase;
			font-weight: 			normal;
			color: 						@color10;
			z-index: 					99;
		}/* List Group Title */
		
		.item-inner {
			display: 	inline-block;
			a {
				color: 	inherit;
			}
			.item-title {
				.display;
				font-weight: 		normal;
				
				span {
					.display;
					font-size: 		12px;
					color: 				@color30;
					font-weight: 	normal;
				}
			}/* item title */
		}/* item inner */
		
	}/* contacts block */
} /* contacts content */



/* Page Contacts
*****************************************************/
.page-contacts {
	.page-content {
		p {
			.display;
			.border-box;
			position: 			absolute;
			left: 					0;
			right: 					0;
			top: 						50%;
			margin: 				0;
			margin-top: 		-55px;
			text-align: 		center;
			font-size: 			17px;
			i {
				font-size: 		40px;
				line-height: 	1;
				color: 				@color40;
				margin-bottom: 	30px;
			}	
		}
	}
}/* page contacts */




/* Add Contact
*****************************************************/
.page-add-contact {
	.page-content {
		padding-bottom: 		0;
	}
	.list-block .item-title.label {
		color: 					@color10;
		text-transform: lowercase;
	}
	ul {
 		margin-top: 35px; 
	}
	
	button {
		.display;
		.border-radius(0);
		font-size: 					17px;
		line-height: 				1;
		padding: 						20px 0;
		text-align: 				center;
		border: 						0;
		color: 							#FFFFFF;
		margin-top: 				60px;
		font-weight: 				200;
		background-color: 	#4cd964;
	}
}/* page add contact */






























