<!DOCTYPE html>
<html>
<head>

  <title>Title</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'/> 
	<meta name="format-detection" content="telephone=no">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
	<%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
	
</head>
<body style="display:none">
	<div class="bg" style="background-image:url(/assets/bg3.jpg)"></div>	
	
	<div id="main_content">
		<% image_tag "/assets/ajax-loader.gif" %>
    <div id="main_div"><%= yield %></div>
	</div>
	
	<div class="loading" id="show_loading" style="display:none">
	  <span class="icon-spinner icon-spin"></span>
	</div>
</body>

<%= javascript_include_tag "application" %>
</html>
<script type="text/javascript">

$(window).load(function() {
    jQuery(".alert").delay(1000).animate({
		top: '-200px',
		opacity: 0
 }, 900);	 
});




</script>