<!DOCTYPE html>
<html>
<head>

  <title>Title</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'/> 
	<meta name="format-detection" content="telephone=no">
	<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" href="/assets/idangerous.swiper.css">
  <link rel="stylesheet/less" type="text/css" href="/assets/styles.less" />
	
  <%= csrf_meta_tags %>
	
</head>
<body style="display:none">
	<div class="bg" style="background-image:url(/assets/bg3.jpg)"></div>	
	
	<div id="main_content">
		<% image_tag "/assets/ajax-loader.gif" %>
		<%= yield %>	
	</div>
	
	<div class="loading" id="show_loading" style="display:none">
	  <span class="icon-spinner icon-spin"></span>
	</div>
</body>

<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
<script src="/assets/less.js" type="text/javascript"></script>
<script  src="/assets/idangerous.swiper-1.9.1.min.js"></script>
<script src="/assets/app.js"></script>
	<%= javascript_include_tag "application" %>
</html>
<script type="text/javascript">

$(window).load(function() {
    jQuery(".alert").delay(1000).animate({
		top: '-200px',
		opacity: 0
 }, 900);	 
});




</script>